/* Change colors in this file to style to your needs on a global level. 
Certain colors are used for different and multiply types of elements. 
For greater control over colors visit each components .scss file. */

// button colors
$buttonColor: #4D78CC;
$buttonHover: #404754;
$topButtonHover: #2c313a;

// text colors light theme
$titleColor: #D7DAE0;
$textColor: #D7DAE0;
$subTitle: #747D91;
$cardSubtitle: #6A7375;
$talkCardSubTitle: #7f8287;
$blogCardTitleColor: #D7DAE0;

// text color dark theme
$textColorDark: #F8FAFD;

// toggle switch colors
$toggleCheck: #4D78CC;
$toggleSwitchSliderBG: #404754;

// githubRepo specific colors
$githubRepoCardLanguageColorBG: #4D78CC;
$githubRepoCardColor: #AAB1C0;
$githubRepoCardRepoCardStatsColor: #6A7375;
$githubRepoCardRepoNameColor: #D7DAE0;
$githubProfileCardLocationTS: #2c313a;
$githubProfileCardBorder: #4D78CC;

// light background colors
$lightBackground1: #000000;
$lightBackground2: #000000;
$lightBackground3: #1d1f23;
$blogCardContainerColor: #2c313a;
// dark background colors
$darkBackground: #000000;

// light theme box shadows
$lightBoxShadowDark: rgba(77, 120, 204, 0.2);
$lightBoxShadow: rgba(77, 120, 204, 0.1);
$lightBoxShadowDarker: rgba(77, 120, 204, 0.3);

// dark theme box shadows
$darkBoxShadow: #181A1F;
$darkBoxShadow2: #2c313a;

// linear gradients
$experienceCardBlurredDivLG: linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.2)
);
$experienceCardBannerLG: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.5)
);

// borders
$progressBarBackground: #1d1f23;
$lightBorder1: #181A1F;
$educationCardBorder: #4D78CC;

// hovers
$achievementCertificateCardHoverDark: rgba(77, 120, 204, 0.2);
$blogCardHoverSmallColor: rgba(77, 120, 204, 0.8);
$headerHoverBG: #1d1f23;
$contactDetailHoverTS: #4D78CC;

// misc backgrounds
$progressBarSpanBG: #4D78CC;
$iconBackground: #181A1F;
$appHeaderBG: #000000;

// misc colors
$skillsColor: #4D78CC;
$appLink: #4D78CC;

// social media icons
$faceBook: #3b5998;
$linkedin: #0e76a8;
$github: #181A1F;
$gitlab: #fca326;
$google: #ea4335;
$twitter: #1da1f2;
$medium: #000;
$stackoverflow: #f48024;
$instagram: #c13584;
$kaggle: #20beff;
