@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}
code {
  font-family: Menlo, 'DejaVu Sans Mono', Consolas, 'Lucida Console', monospace;
}
html,
body {
  scroll-behavior: smooth;
  background-color: #000000;
  color: #D7DAE0;
}
body {
  margin: 0;
  font: 16px / 20px Menlo, 'DejaVu Sans Mono', Consolas, 'Lucida Console', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  caret-color: #14FA50;
  cursor: default;
}

input, textarea {
  cursor: text;
  caret-color: #14FA50;
}

a, button, [role="button"] {
  cursor: pointer;
}

/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}
